
/*RESPONSIVE*/
@media screen and (min-width:1366px) and (max-width:1920px) {
    .container {
        width: 1200px;
    }
   .wrap-text>p.content {
        width: 100%;
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (min-width:1200px) and (max-width:1365px) {
    .container {
        width: 1200px;
    }
   .wrap-text>p.content {
        width: 100%;
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .menu-top-content > ul > li.menu-item:first-child {
        background: none;
    }

    .menu-top-content > ul > li.menu-item {
        padding: 10px 17px;
    }

    .header-hotline {
        display: none;
    }

    .monkey-grid.grid-container {
        display: grid;
        grid-template-columns: 270px calc(100% - 270px);
        grid-column-gap: 20px;
        margin-top: 20px;
    }

    .monkey-group-banner {
        grid-row-gap: 20px;
    }

    .monkey-group-padding {
        padding: 0 15px;
        border-right: 1px solid #e5e5e5;
    }

   .wrap-text>p.content {
        width: 100%;
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width:992px) {
    .header-bot {
        height: 40px;
    }

    .monkey-item-sanpham img {
        width: 100%;
    }

    .menu-footer {
        padding-left: 15px;
    }
   .wrap-text > p.content {
        width: 100%;
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .header-hotline-top {
        display: none;
    }


    .search-header {
        position: absolute;
        top: 106px;
        z-index: 10;
        height: 35px;
        line-height: 32px;
        background: #fff;
    }

    .btn-list-search {
        height: 35px;
        line-height: 32px;
    }

    .btn-search input {
        background: transparent;
    }

    .a-search {
        font-size: 0;
        padding: 0px 10px 0px 20px;
        background: #0139f0 url(../images/bg-search.png) no-repeat center center;
        right: -7px;
        top: 1px;
    }

    .monkey-grid.grid-container {
        display: grid;
        grid-template-columns: 240px calc(100% - 240px);
        grid-column-gap: 20px;
        margin-top: 20px;
    }

    .monkey-group-banner {
        grid-row-gap: 20px;
    }

    .monkey-group-item-bot {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

   .wrap-text>p.content {
        width: 100%;
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width:767px) {
    .header-toptop {
        display: none;
    }

    .header-hotline {
        display: none;
    }

    .logo-header {
        margin: 10px 0;
        float: left;
    }

    .cart-header {
        float: unset;
        margin: 30px 0px;
        position: absolute;
        right: 25px;
        top: 0;
    }

        .cart-header img {
            width: 80%;
        }

    .num-product {
        width: 26px;
        height: 26px;
        line-height: 26px;
        top: -10px;
        right: 0;
    }

    .a-search {
        font-size: 0;
        padding: 16px;
        background: #0139f0 url(../images/bg-search.png) no-repeat center center;
        right: -7px;
        top: 3px;
    }

    .search-header {
        width: 100%;
        margin: 10px 0;
        float: unset;
    }

    .monkey-grid.grid-container {
        grid-template-areas: 'right' 'left';
        grid-template-columns: 100%;
        grid-column-gap: 0;
    }

    .monkey-grid-item.monkey-grid-item-right {
        grid-area: right;
        margin-bottom: 20px;
    }

    .monkey-grid-item.monkey-grid-item-right {
        grid-area: right;
    }

    .banner-item-double {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }

    .monkey-group-banner {
        grid-row-gap: 10px;
    }

    .info-footer, .menu-footer {
        margin-bottom: 20px;
    }
}

@media screen and (min-width:578px) and (max-width:767px) {
    .desc-sidebar.danhmuc-sidebar ul li {
        width: 50%;
        float: left;
    }

    .monkey-group-padding {
        padding: 0 10px;
        border-right: 1px solid #e5e5e5;
    }

    .monkey-mua-hang a {
        padding: 5px 30px;
    }

    .search-header {
        position: absolute;
        top: 90px;
        z-index: 9;
        width: 75%;
        height: 35px;
    }

    .btn-list-search {
        height: 35px;
        line-height: 32px;
    }

    .btn-list-search {
        color: #fff;
    }

    .btn-search input {
        background: transparent;
        color: #fff;
    }

    .a-search {
        padding: 14px;
    }
}

@media screen and (min-width:481px) and (max-width:576px) {
    .monkey-group-item-bot {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .desc-sidebar.danhmuc-sidebar ul li {
        width: 50%;
        float: left;
    }
}

@media screen and (max-width:480px) {
    .btn-list-search {
        font-size: 12px;
    }

    .monkey-group-item-bot {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .content-footerbot {
        display: block;
        float: unset;
    }

    .copyright {
        width: 100%;
        text-align: center;
    }

    .design {
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width:320px) and (max-width:399px) {
}

@media screen and (min-width:0px) and (max-width:319px) {
}
